<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          Generate Teacher's Performance
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <table datatable class="table table-hover table-outline mb-4">
              <thead class="thead-light">
                <tr>
                  <th class="text-center"><i class="icon-people"></i></th>
                  <th>Teacher Name</th>
                  <th>Sex</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody class="">
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-success"></span>
                    </div>
                  </td>
                  <td>
                    <div>Yiorgos Avraamu</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>

                  <td>
                    <div class="clearfix">
                      Male
                    </div>
                  </td>

                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button">View</button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-danger"></span>
                    </div>
                  </td>
                  <td>
                    <div>Avram Tarasios</div>
                    <div class="small text-muted">
                      <span>Recurring</span> | Registered: Jan 1, 2015
                    </div>
                  </td>

                  <td>
                    <div class="clearfix">
                      Female
                    </div>
                  </td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button">View</button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-warning"></span>
                    </div>
                  </td>
                  <td>
                    <div>Quintin Ed</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>

                  <td>
                    <div class="clearfix">
                      Male
                    </div>

                  </td>

                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button">View</button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-secondary"></span>
                    </div>
                  </td>
                  <td>
                    <div>Enéas Kwadwo</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>

                  <td>
                    <div class="clearfix">
                      Female
                    </div>
                  </td>

                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button">View</button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-success"></span>
                    </div>
                  </td>
                  <td>
                    <div>Agapetus Tadeáš</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>

                  <td>
                    <div class="clearfix">
                      Female
                    </div>

                  </td>

                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button">View</button>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-danger"></span>
                    </div>
                  </td>
                  <td>
                    <div>Friderik Dávid</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>

                  <td>
                    <div class="clearfix">
                      Male
                    </div>
                  </td>

                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
