<div class="row align-content-center">
  <div class="col-lg-10 col-sm-12">
    <div class="card" style="height:450px;">
      <div class="card-header">
        <div class="row">
          <div class="col-8 col-sm-4 col-md mb-3 mb-xl-0">
            <i class="fa fa-align-justify"></i>&nbsp;<b>Add User</b>&nbsp;<small>add and also edit school Staffs</small>
          </div>
          <div class="col-3 col-sm-4 col-lg-3 col-md mb-3 mb-xl-0">
            <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="addUserModal()" type="button"><b>Add User</b></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-responsive-sm table-hover  mb-0">
          <thead>
            <tr>
              <th class="text-center">Name</th>
              <th class="text-center">Phone No.</th>
              <th class="text-center">Email</th>
              <th class="text-center">Sex</th>
              <th class="text-center">Marital Status</th>
              <th >Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of UserList | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}; let i = index">
              <td class="text-center">{{ item.firstName }}  {{ item.lastName }}</td>
              <td class="text-center">{{ item.phoneNumber }}</td>
              <td class="text-center">{{ item.email}}</td>
              <td class="text-center">{{ item.sex}}</td>
              <td class="text-center">{{ item.maritalStatus }}</td>
              <td class="text-center">
                <div class="row">
                  <div class="">
                    <button class="btn btn-sm btn-primary" (click)="ViewUserModal(item)" type="button">View</button>
                  </div>
                  &nbsp;
                  <div class="  ">
                    <button class="btn btn-sm btn-danger" type="button">Deactivate</button>
                  </div>
                </div>

                <!--<button class="btn btn-sm btn-primary mb-0" (click)="ViewUserModal(item)" type="button">View</button>
                <button class="btn btn-sm btn-danger mb-0" type="button">Deactivate</button>-->
              </td>
            </tr>
          </tbody>

          <!--<tfoot>
            <tr>
              <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
              </td>
            </tr>
          </tfoot>-->
        </table>
        <div id="pagination pull-right">
          <pagination-controls id="pagination1" (pageChange)="p1=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  
  <!--/.col-->
</div>
