<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Students Attendance
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="card-body">
              <div class="row">
                <div class="btn-group col-4 col-sm-6 col-lg-4 col-md mb-3" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    Select Class <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item">Grade One (Gold)</a></li>
                    <li role="menuitem"><a class="dropdown-item">Grade One (Silver)</a></li>
                    <li role="menuitem"><a class="dropdown-item">Grade One (Diamond)</a></li>
                  </ul>
                </div>
                <div class="btn-group col-4 col-sm-6 col-lg-4 col-md mb-3" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    Select Class <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item">Grade One (Gold)</a></li>
                    <li role="menuitem"><a class="dropdown-item">Grade One (Silver)</a></li>
                    <li role="menuitem"><a class="dropdown-item">Grade One (Diamond)</a></li>
                  </ul>
                </div>
                <div class="form-group col-4 col-sm-6 col-lg-4 col-md mb-3">
                  <input type="text" #dob placeholder="Enter Date to view previous Attendance" class="form-control" bsDatepicker>

                </div>
                <div class="btn-group col-4 col-sm-6 col-lg-4 col-md mb-3" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    Select Student <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item">John Doe Akpan</a></li>
                    <li role="menuitem"><a class="dropdown-item">Micheal James Bayo</a></li>
                    <li role="menuitem"><a class="dropdown-item">Sampson Brown Okoye</a></li>
                  </ul>
                </div>

              </div>
            </div>
            <!--<div class="col-lg-12">-->
          </div>
        </div>
        <br />
        
      </div>
      
    </div>
  </div>
</div>


<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Students Attendance
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="card-body">

              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center"><i class="icon-people"></i></th>
                        <th class="text-center">Student Name</th>
                        <th class="text-center">Sex</th>
                        <th class="text-center">Class</th>
                        <th class="text-center">Session</th>
                        <th class="text-center">Term</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Present/Absent</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of Attendance | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}; let i = index">
                        <td class="text-center">
                          <div class="avatar">
                            <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                            <span class="avatar-status badge-success"></span>
                          </div>
                        </td>
                        <td class="text-center">
                          <div>{{item.studentName}}</div>
                          <div class="small text-muted">
                            <span>New</span> | Registered: Jan 1, 2015
                          </div>
                        </td>
                        <td class="text-center">{{item.sex}}</td>
                        <td class="text-center">{{item.classSectionName}}</td>
                        <td class="text-center">{{item.currentSessionName}}</td>
                        <td class="text-center">{{item.currentTermName}}</td>
                        <td class="text-center">{{item.date | date}}</td>
                        <td class="text-center">
                          <div class="form-group form-check-inline mr-1">
                            <input class="form-check-input" #present type="checkbox" id="inline-checkbox1" [checked]="item.present" (change)='OnChange(item)' value="present.value" disabled [value]="item.present">
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
