<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8 col-sm-4 col-md mb-3 mb-xl-0">
            <i class="fa fa-align-justify"></i><b> Academic Session</b>&nbsp;<small>add and also edit academic session</small>
          </div>
          <div class="col-3 col-sm-4 col-lg-3 col-md mb-3 mb-xl-0">
            <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="addSessionModal()" type="button"><b>Add Session</b></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table datatable class="table row-border hover">
          <thead>
            <tr>
              <th>Session</th>
              <th>Start</th>
              <th>End</th>
              <th>Current Session</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of sessionList | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}">
              <td>{{ item.sessionName }}</td>
              <td>{{ item.startDate | date }}</td>
              <td>{{ item.endDate | date}}</td>
              <td>{{ item.isCurrentSession }}</td>
              <td>
                <button class="btn btn-sm btn-primary" type="button">View</button>
                <button class="btn btn-sm btn-danger" type="button">Del</button>
              </td>
            </tr>
          </tbody>

          <!--<tfoot>
      <tr>
        <td colspan="4">
          <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
        </td>
      </tr>
    </tfoot>-->
        </table>
        <div id="pagination pull-right">
          <pagination-controls id="pagination1" (pageChange)="p1=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8 col-sm-4 col-md mb-3 mb-xl-0">
            <i class="fa fa-align-justify"></i><b> Student Grade Clases</b>&nbsp;<small>add and also edit student grade classes</small>
          </div>
          <div class="col-3 col-sm-4 col-lg-3 col-md mb-3 mb-xl-0">
            <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="addClassModal()" type="button"><b>Add Class</b></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table datatable class="table  row-border hover">
          <thead>
            <tr>
              <th>Class</th>
              <th>Max No.</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of classList | paginate:{ id: 'pagination2', itemsPerPage: 5, currentPage:p2}">
              <td>{{ item.gradeName }}</td>
              <td>{{ item.maxNumber}}</td>
              <td>{{ item.status}}</td>
              <td>
                <button class="btn btn-sm btn-primary" type="button">View</button>
                <button class="btn btn-sm btn-danger" type="button">Del</button>
              </td>
            </tr>
          </tbody>

          <!--<tfoot>
      <tr>
        <td colspan="4">
          <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
        </td>
      </tr>
    </tfoot>-->
        </table>
        <div id="pagination pull-right">
          <pagination-controls id="pagination2" (pageChange)="p2=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>

<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-8 col-sm-4 col-md mb-3 mb-xl-0">
            <i class="fa fa-align-justify"></i><b> Class Section</b>&nbsp;<small>add and also edit class section</small>
          </div>
          <div class="col-3 col-sm-4 col-lg-3 col-md mb-3 mb-xl-0">
            <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="addClassSectionModal()" type="button"><b>Add Section</b></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table datatable class="table row-border hover">
          <thead>
            <tr>
              <th>Section</th>
              <th>Teacher</th>
              <th>Max No.</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of classSectionList | paginate:{id: 'pagination3', itemsPerPage: 5, currentPage:p3}">
              <td>{{ item.className }}</td>
              <td>{{ item.classTeacherName}}</td>
              <td>{{ item.maxNumber}}</td>
              <td>{{ item.status }}</td>
              <td>
                <button class="btn btn-sm btn-primary" type="button">View</button>
                <button class="btn btn-sm btn-danger" type="button">Del</button>
              </td>
            </tr>
          </tbody>

          <!--<tfoot>
            <tr>
              <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
              </td>
            </tr>
          </tfoot>-->
        </table>
        <div id="pagination pull-right">
          <pagination-controls id="pagination3" (pageChange)="p3=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-lg-6">
    <div class="card" >
      <div class="card-header">
        <div class="row">
          <div class="col-8 col-sm-4 col-md mb-3 mb-xl-0">
            <i class="fa fa-align-justify"></i><b> Subjects</b>&nbsp;<small>add and also edit subjects</small>
          </div>
          <div class="col-3 col-sm-4 col-lg-3 col-md mb-3 mb-xl-0">
            <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="addSubjectModal()" type="button"><b>Add Subject</b></button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <table datatable class="table row-border hover">
          <thead>
            <tr>
              <th>Subject</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of subjectList | paginate:{ id: 'pagination4', itemsPerPage: 5, currentPage:p4}">
              <td>{{ item.subjectName }}</td>
              <td>{{ item.status}}</td>
              <td>
                <button class="btn btn-sm btn-primary" type="button">View</button>
                <button class="btn btn-sm btn-danger" type="button">Del</button>
              </td>
            </tr>
          </tbody>

          <!--<tfoot>
            <tr>
              <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
              </td>
            </tr>
          </tfoot>-->
        </table>
        <div id="pagination pull-right">
          <pagination-controls id="pagination4" (pageChange)="p4=$event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>
  <!--/.col-->
</div>
