
<div class="modal-content">
  <div class="modal-header text-center">
    <i class="fa fa-book"></i>&nbsp; <b>Add New Class Section</b>
    <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="AddClassSectionForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
          <label for="vat"><b>Select Grade*</b></label>
          <select type="text" #classSelect
                  (change)='GradeClasesSubjects(classSelect.value)' formControlName="GradeClassId" class="form-control" required>
            <option>Select Grade</option>
            <option *ngFor="let class of Classes" [value]="class.id">{{ class.gradeName}}</option>
          </select>

        </div>
        <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
          <label for="vat"><b>Select Class Teacher*</b></label>
          <select type="text"
                  formControlName="ClassTeacherId" placeholder="Select Class Teacher" #classTeacher class="form-control" required>
            <option>Select Class Teacher</option>
            <option *ngFor="let teacher of Teachers" [value]="teacher.id">{{ teacher.fullName}}</option>
          </select>

        </div>
      </div>
      <div class="form-group">
        <label for="company"><b>Section Name*</b></label>
        <input type="text" class="form-control" formControlName="ClassName" required id="company" placeholder="Enter class name">
        <span class=""><small>eg Gold, Diamond, Love, etc.. note that the respective grade name would be appended to this Name so no need to specify</small></span>
      </div>

      <div class="form-group">
        <label for="company"><b>Max Number*</b></label>
        <input type="text" class="form-control" formControlName="MaxNumber" required id="company" placeholder="Enter max number of students">
        <span class=""><small>eg physics, integrated science, maths, english</small></span>
      </div>

      <div><i class="fa fa-book"></i>&nbsp; <b>Assign Teachers To All Subjects Offered</b></div>
      <hr />
      <!--<div class="form-group">-->
      <div class="row">
        <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
          <!--<label for="vat">Select Grade</label>-->
          <select type="text" class="form-control" #subjectSelect required>
            <option>Select Subject</option>
            <option *ngFor="let class of GradeClassSubjects" [value]="class.subjectId">{{ class.subjectName}}</option>
          </select>

        </div>
        <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
          <!--<label for="vat">Select Grade</label>-->
          <select class="form-control" #teacher required>
            <option>Select Teacher</option>
            <option *ngFor="let class of Teachers" [value]="class.id">{{ class.fullName}}</option>
          </select>

        </div>
        <!--<div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">-->
        <!--<label for="vat">Select Teacher*</label>-->
        <!--<select type="text" #teacherSelect formControlName="ClassTeacherId" class="form-control" required>
        <option>Select Teacher</option>
        <option *ngFor="let teacher of Teachers" [value]="teacher.id">{{ teacher.fullName}}</option>
      </select>

    </div>-->
        <div class="col-3 col-sm-4 col-lg-3 col-md mb-3 mb-xl-0">
          <button aria-pressed="true" class="btn btn-sm btn-block btn-ghost-info active" (click)="addClassSectionSubject(teacher.value, subjectSelect.value )" type="button">Add Grade</button>
        </div>
      </div>
      <div class="">
        <table datatable class="table table-striped row-border hover">
          <thead>
            <tr>
              <th>Subject Name</th>
              <th>Teacher Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ClassSection | paginate:{ id: 'pagination7', itemsPerPage: 7, currentPage:p7}; let i = index">
              <td>{{ item.SubjectName }}</td>
              <td>{{ item.TeacherName }}</td>
              <td><button class="btn btn-sm btn-danger" (click)="DelClass(i)" type="button">Del</button></td>
            </tr>
          </tbody>
        </table>
        <div id="pagination pull-right">
          <pagination-controls id="pagination7" (pageChange)="p7=$event"></pagination-controls>
        </div>
      </div>
      <div class="form-group form-check-inline mr-1">
        <label class="form-check-label" for="inline-checkbox1">Active?</label>&nbsp;&nbsp;
        <input class="form-check-input" formControlName="Status" type="checkbox" id="inline-checkbox1" value="option1">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!AddClassSectionForm.valid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="CloseModal()"><i class="fa fa-ban"></i> Close</button>
    </div>
  </form>
</div>
