
<div class="modal-content">
  <div class="modal-header text-center">
    <i class="fa fa-book"></i>&nbsp; <b>Add New Class</b>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="AddClassForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">

      <div class="form-group">
        <label for="company">Class Name</label>
        <input type="text" class="form-control" formControlName="GradeName" id="company" placeholder="Enter class name">
        <span class=""><small>eg primary 1, grade 1, grade three, primary two.</small></span>
      </div>
      <div class="form-group">
        <label for="vat">Max No. of Students</label>
        <input type="number" class="form-control" formControlName="MaxNumber" placeholder="Enter Max No. of students">
      </div>
      <div class="form-group form-check-inline mr-1">
        <label class="form-check-label" for="inline-checkbox1">Active?</label>&nbsp;&nbsp;
        <input class="form-check-input" type="checkbox" formControlName="Status" id="inline-checkbox1" value="">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!AddClassForm.valid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="CloseModal()"><i class="fa fa-ban"></i> Close</button>
    </div>
  </form>
</div>
