
<div class="modal-content">
  <div class="modal-header text-center">
    <i class="fa fa-book"></i>&nbsp; <b>Add New Subject</b>
    <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="AddSubjectForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <div class="form-group">
        <label for="company">Session Name</label>
        <input type="text" class="form-control" formControlName="SubjectName" required id="company" placeholder="Enter subject name">
        <span class=""><small>eg physics, integrated science, maths, english</small></span>
      </div>
      <div><i class="fa fa-book"></i>&nbsp; <b>Add all classes to offer this subject</b></div>
      <hr />
      <!--<div class="form-group">-->
      <div class="row">
        <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
          <!--<label for="vat">Select Grade</label>-->
          <select type="text" #classSelect
                  (change)='onGradeClassChange(classSelect.value)' class="form-control" required>
            <option selected="selected" disabled>Select Grade</option>
            <option *ngFor="let class of Classes" [value]="class.id">{{ class.gradeName}}</option>
          </select>

        </div>
        <div class="col-3 col-sm col-lg-3 col-md ">
          <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="addGradeClass(classSelect.value)" type="button">Add Grade</button>
        </div>
      </div>
      <div class="">
      <table datatable class="table table-striped row-border hover">
        <thead>
          <tr>
            <th>Class Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of SubGradeClass | paginate:{ id: 'pagination5', itemsPerPage: 5, currentPage:p5}; let i = index">
            <td>{{ item.gradeName }}</td>
            <td><button class="btn btn-sm btn-primary" (click)="DelClass(i)" type="button">Del</button></td>
          </tr>
        </tbody>
      </table>
      <div id="pagination pull-right">
        <pagination-controls id="pagination5" (pageChange)="p5=$event"></pagination-controls>
      </div>
    </div>
      <div class="form-group form-check-inline mr-1">
        <label class="form-check-label" for="inline-checkbox1">Active?</label>&nbsp;&nbsp;
        <input class="form-check-input" formControlName="Status" type="checkbox" id="inline-checkbox1" value="option1">
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit"  [disabled]="!AddSubjectForm.valid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="CloseModal()"><i class="fa fa-ban"></i> Close</button>
    </div>
  </form>
</div>
