
<div class="modal-content">
  <div class="modal-header text-center">
    <i class="fa fa-book"></i>&nbsp; <b>Add New Academic Session</b>
    <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="AddSessionForm">
    <div class="modal-body">
      <div class="row">
        <div class="form-group col-lg-4 col-md col-sm">
          <label for="company">Session Name</label>
          <input type="text" class="form-control" formControlName="SessionName" required id="company" placeholder="Enter session name">
          <span class=""><small>eg 2017/2018, 2019/2020 sessions should be in this format</small></span>
        </div>
        <div class="form-group col-lg-4 col-md col-sm">
          <label for="vat">Start Date</label>
          <input type="text" class="form-control" formControlName="StartDate" required placeholder="session start date" [bsValue]="bsValue" bsDatepicker>
        </div>
        <div class="form-group col-lg-4 col-md col-sm">
          <label for="street">End Date</label>
          <input type="text" class="form-control" id="street" formControlName="EndDate" placeholder="session end date" bsDatepicker>
        </div>
      </div>
      <div class="form-group form-check-inline mr-1">
        <label class="form-check-label" for="inline-checkbox1"><b>Current Session?</b></label>&nbsp;&nbsp;
        <input class="form-check-input" formControlName="IsCurrentSession" type="checkbox" id="inline-checkbox1" value="option1">
      </div>
      <div><i class="fa fa-book"></i>&nbsp; <b>Add Terms for this session. Note: Only 3 terms can be added</b></div>
      <hr />
      <!--<div class="form-group">-->
      <div class="row">
        <div class="form-group col-lg-3 col-md col-sm">
          <label for="company">Term Name</label>
          <input type="text" class="form-control" formControlName="TermName" id="company" placeholder="Enter term name">
          <span class=""><small>eg First Term, Second Term.</small></span>
        </div>
        <div class="form-group col-lg-3 col-md col-sm">
          <label for="vat">Term Start Date</label>
          <input type="text" class="form-control" formControlName="TermStartDate" placeholder="session start date" [bsValue]="bsValue" bsDatepicker>
        </div>
        <div class="form-group col-lg-3 col-md col-sm">
          <label for="street">Term End Date</label>
          <input type="text" class="form-control" id="street" formControlName="TermEndDate" placeholder="session end date" bsDatepicker>
        </div>
        <div class="form-group form-check-inline mr-1">
          <label class="form-check-label" for="inline-checkbox1">Active?</label>&nbsp;&nbsp;
          <input class="form-check-input" formControlName="TermStatus" type="checkbox" id="inline-checkbox1" value="option1">
        </div>
      </div>
      <div class="col-2 col-sm col-lg-2 col-md pull-right mb-2 mt-0">
        <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="AddTerm(AddSessionForm.value)" type="button">Add Term</button>
      </div>
      <div class="">
        <table datatable class="table table-striped row-border hover">
          <thead>
            <tr>
              <th>Term Name</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Active?</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of Terms | paginate:{ id: 'pagination5', itemsPerPage: 5, currentPage:p5}; let i = index">
              <td>{{ item.TermName }}</td>
              <td>{{ item.TermStartDate | date }}</td>
              <td>{{ item.TermEndDate | date }}</td>
              <td>{{ item.TermStatus }}</td>
              <td><button class="btn btn-sm btn-primary" (click)="DelTerm(i)" type="button">Del</button></td>
            </tr>
          </tbody>
        </table>
        <div id="pagination pull-right">
          <pagination-controls id="pagination5" (pageChange)="p5=$event"></pagination-controls>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!AddSessionForm.valid" (click)="onSubmit(AddSessionForm.value)" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="CloseModal()"><i class="fa fa-ban"></i> Close</button>
    </div>
   </form>
</div>

