<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <!--<div class="card-header">
          List of Classes you Teach
        </div>-->
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">Class Name</th>
                  <th class="text-center">Term/Session</th>
                  <th class="text-center">Max No. of Students</th>
                  <th class="text-center">No. of Students</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of ClassSections">

                  <td class="text-center">
                    <div>{{item.className}}</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>
                  <td class="text-center">{{item.sessionTerm}}</td>
                  <td class="text-center">{{item.maxNumber}}</td>
                  <td class="text-center">{{item.numOfStudents}}</td>
                  <td class="text-center">
                    <button class="btn btn-sm btn-primary" type="button">View</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
