<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <form [formGroup]="RegisterForm" (ngSubmit)="onSubmit()">
                <h1>Register</h1>
                <p class="text-muted">Create your school account</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="SchoolName" placeholder="Enter School Name" autocomplete="FirstName" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Enter school Phone No." autocomplete="PhoneNo" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="PhoneNumber2" placeholder="Enter secondary Phone No." autocomplete="PhoneNo">
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">@</span>
                  </div>
                  <input type="text" class="form-control" formControlName="Email" placeholder="School Email" autocomplete="email" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-globe"></i></span>
                  </div>
                  <select type="text" class="form-control" formControlName="CountryId" placeholder="" required>
                    <option value="1">Select Country</option>
                    <option value="2">Nigeria</option>
                    <option value="3">Ghana</option>
                  </select>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-globe"></i></span>
                  </div>
                  <select type="text" class="form-control" formControlName="StateId" placeholder="" required>
                    <option value="">Select State</option>
                    <option value="1">Lagos</option>
                    <option value="2">Abuja</option>
                    <option value="3">Delta</option>
                  </select>
                </div>
                <span><small>Note: Do not include state and country in the address</small></span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-user"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="Address" placeholder="Enter school Address" autocomplete="Address" required>
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-globe"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="Website" placeholder="Enter school website" autocomplete="Address" required>
                </div>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-book-open"></i></span>
                  </div>
                  <input type="text" class="form-control" formControlName="Motto" placeholder="Enter school Motto" autocomplete="Address" required>
                </div>

                <span class="mb-1"><h6>Upload School logo/badge</h6></span>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-badge"></i></span>
                  </div>
                  <input type="file" class="form-control" formControlName="Logo" placeholder="Upload School badge">
                </div>

                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-support"></i></span>
                  </div>
                  <select type="text" class="form-control" formControlName="PlanTypeId" required>
                    <option value="">Select Plan</option>
                    <option value="1">Basic</option>
                    <option value="2">Coperate</option>
                    <option value="3">Enterprise</option>
                    <option value="4">Let's talk</option>
                  </select>
                </div>
                <button type="submit" class="btn btn-block btn-success">Create Account</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
