<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <div class="row">
            <div class="col-9 col-sm-9 col-md mb-3 mb-xl-0">
              <i class="fa fa-align-justify"></i><b> Manage Staff Leave</b>&nbsp;<small>add and also edit leave details</small>
            </div>
            <div class="col-2 col-sm-3 col-xs-3 col-lg-2 col-md mb-3 mb-xl-0 pull-right">
              <button aria-pressed="true" class="btn btn-sm btn-block btn-primary" type="button"><b>Add Leave</b></button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <table datatable class="table row-border hover">
            <thead>
              <tr>
                <th class="text-center">Staff Name</th>
                <th class="text-center">Start Date</th>
                <th class="text-center">End Date</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr *ngFor="let item of sessionList | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}">
                <td>{{ item.sessionName }}</td>
                <td>{{ item.startDate | date }}</td>
                <td>{{ item.endDate | date}}</td>
                <td>{{ item.isCurrentSession }}</td>
                <td>
                  <button class="btn btn-sm btn-primary" type="button">View</button>
                  <button class="btn btn-sm btn-danger" type="button">Del</button>
                </td>
              </tr>-->
              <tr>
                <td class="text-center">
                  <div>Grade One (Silver)</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  2017/2018
                </td>
                <td class="text-center">
                  <div class="clearfix">
                    2nd Term
                  </div>
                </td>
                <td class="text-center">
                  <div class="row">
                    <div class="">
                      <button class="btn btn-sm btn-primary" type="button">View</button>
                    </div>
                    &nbsp;
                    <div class="  ">
                      <button class="btn btn-sm btn-danger" type="button">Del</button>
                    </div>
                  </div>

                  <!--<button class="btn btn-sm btn-primary" type="button">View</button>
                  <button class="btn btn-sm btn-danger" type="button">Del</button>-->
                </td>

              </tr>
              <tr>
                <td class="text-center">
                  <div>Grade One (Silver)</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  2017/2018
                </td>
                <td class="text-center">
                  <div class="clearfix">
                    2nd Term
                  </div>
                </td>
                <td class="text-center">
                  <div class="row">
                    <div class="">
                      <button class="btn btn-sm btn-primary" type="button">View</button>
                    </div>
                    &nbsp; &nbsp;
                    <div class="  ">
                      <button class="btn btn-sm btn-danger" type="button">Del</button>
                    </div>
                  </div>

                  <!--<button class="btn btn-sm btn-primary" type="button">View</button>
                  <button class="btn btn-sm btn-danger" type="button">Del</button>-->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div>Grade One (Silver)</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  2017/2018
                </td>
                <td class="text-center">
                  <div class="clearfix">
                    2nd Term
                  </div>
                </td>
                <td class="text-center">
                  <div class="row">
                    <div class="">
                      <button class="btn btn-sm btn-primary" type="button">View</button>
                    </div>
                    &nbsp;
                    <div class="  ">
                      <button class="btn btn-sm btn-danger" type="button">Del</button>
                    </div>
                  </div>

                  <!--<button class="btn btn-sm btn-primary" type="button">View</button>
                  <button class="btn btn-sm btn-danger" type="button">Del</button>-->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div>Grade One (Silver)</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  2017/2018
                </td>
                <td class="text-center">
                  <div class="clearfix">
                    2nd Term
                  </div>
                </td>
                <td class="text-center">
                  <div class="row">
                    <div class="">
                      <button class="btn btn-sm btn-primary" type="button">View</button>
                    </div>
                    &nbsp;
                    <div class="  ">
                      <button class="btn btn-sm btn-danger" type="button">Del</button>
                    </div>
                  </div>

                  <!--<button class="btn btn-sm btn-primary" type="button">View</button>
                  <button class="btn btn-sm btn-danger" type="button">Del</button>-->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div>Grade One (Silver)</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  2017/2018
                </td>
                <td class="text-center">
                  <div class="clearfix">
                    2nd Term
                  </div>
                </td>
                <td class="text-center">
                  <div class="row">
                    <div class="">
                      <button class="btn btn-sm btn-primary" type="button">View</button>
                    </div>
                    &nbsp;
                    <div class="  ">
                      <button class="btn btn-sm btn-danger" type="button">Del</button>
                    </div>
                  </div>

                  <!--<button class="btn btn-sm btn-primary" type="button">View</button>
                  <button class="btn btn-sm btn-danger" type="button">Del</button>-->
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div>Grade One (Silver)</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">
                  2017/2018
                </td>
                <td class="text-center">
                  <div class="clearfix">
                    2nd Term
                  </div>
                </td>
                <td class="text-center">
                  <div class="row">
                    <div class="">
                      <button class="btn btn-sm btn-primary" type="button">View</button>
                    </div>
                    &nbsp;
                    <div class="  ">
                      <button class="btn btn-sm btn-danger" type="button">Del</button>
                    </div>
                  </div>

                  <!--<button class="btn btn-sm btn-primary" type="button">View</button>
                  <button class="btn btn-sm btn-danger" type="button">Del</button>-->
                </td>
              </tr>

            </tbody>

            <!--<tfoot>
              <tr>
                <td colspan="4">
                  <sv-bootstrap-paginator [rowsOnPageSet]="[5, 10, 25]"></sv-bootstrap-paginator>
                </td>
              </tr>
            </tfoot>-->
          </table>
          <!--<div id="pagination pull-right">
            <pagination-controls id="pagination1" (pageChange)="p1=$event"></pagination-controls>
          </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
