<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          Students Attendance
        </div>
        <div class="row">
          <div class="col-md-10">
            <div class="card-body">
              <div class="row">
                <div class="btn-group col-4 col-sm-6 col-lg-4 col-md mb-3" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    Select Session <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item">2017/2018</a></li>
                    <li role="menuitem"><a class="dropdown-item">2018/2019</a></li>
                    <li role="menuitem"><a class="dropdown-item">2019/2020</a></li>
                    <li role="menuitem"><a class="dropdown-item">2020/2021</a></li>
                    <li role="menuitem"><a class="dropdown-item">2021/2022</a></li>
                  </ul>
                </div>
                <div class="form-group col-4 col-sm-6 col-lg-4 col-md mb-3">
                  <input type="text" #dob (change)='CalculateAge(dob.value)' placeholder="Enter Date to view previous Attendance" class="form-control" bsDatepicker>

                </div>
                <div class="btn-group col-4 col-sm-6 col-lg-4 col-md mb-3" dropdown>
                  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                    Select Student <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="dropdown-item">First Term</a></li>
                    <li role="menuitem"><a class="dropdown-item">Second Term</a></li>
                    <li role="menuitem"><a class="dropdown-item">Third Term</a></li>
                  </ul>
                </div>

              </div>
            </div>
            <!--<div class="col-lg-12">-->
          </div>
        </div>
        <br />
        <div class="row">
          <div class="col-lg-12">
            <table class="table table-responsive-sm table-hover table-outline mb-0">
              <thead class="thead-light">
                <tr>
                  <th class="text-center"><i class="icon-people"></i></th>
                  <th>Staff Name</th>
                  <!--<th class="text-center">Class</th>-->
                  <th>Session</th>
                  <th class="text-center">Term</th>
                  <th>Date</th>
                  <th>Present/Absent</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-success"></span>
                    </div>
                  </td>
                  <td>
                    <div>Yiorgos Avraamu</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>
                  
                  <td>
                    <div class="clearfix">
                      <div class="float-left">
                        <strong>50%</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                      </div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-cc-mastercard" style="font-size:24px"></i>
                  </td>
                  <td>
                    <div class="small text-muted">Last login</div>
                    <strong>10 sec ago</strong>
                  </td>
                  <td>
                    <div class="form-group form-check-inline mr-1">
                      <input class="form-check-input" formControlName="Active" type="checkbox" id="inline-checkbox1" value="option1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-danger"></span>
                    </div>
                  </td>
                  <td>
                    <div>Avram Tarasios</div>
                    <div class="small text-muted">
                      <span>Recurring</span> | Registered: Jan 1, 2015
                    </div>
                  </td>
                  
                  <td>
                    <div class="clearfix">
                      <div class="float-left">
                        <strong>10%</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                      </div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-cc-visa" style="font-size:24px"></i>
                  </td>
                  <td>
                    <div class="small text-muted">Last login</div>
                    <strong>5 minutes ago</strong>
                  </td>
                  <td>
                    <div class="form-group form-check-inline mr-1">
                      <input class="form-check-input" formControlName="Active" type="checkbox" id="inline-checkbox1" value="option1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-warning"></span>
                    </div>
                  </td>
                  <td>
                    <div>Quintin Ed</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>
                  
                  <td>
                    <div class="clearfix">
                      <div class="float-left">
                        <strong>74%</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                      </div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 74%" aria-valuenow="74" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-cc-stripe" style="font-size:24px"></i>
                  </td>
                  <td>
                    <div class="small text-muted">Last login</div>
                    <strong>1 hour ago</strong>
                  </td>
                  <td>
                    <div class="form-group form-check-inline mr-1">
                      <input class="form-check-input" formControlName="Active" type="checkbox" id="inline-checkbox1" value="option1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-secondary"></span>
                    </div>
                  </td>
                  <td>
                    <div>Enéas Kwadwo</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>
                  
                  <td>
                    <div class="clearfix">
                      <div class="float-left">
                        <strong>98%</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                      </div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-paypal" style="font-size:24px"></i>
                  </td>
                  <td>
                    <div class="small text-muted">Last login</div>
                    <strong>Last month</strong>
                  </td>
                  <td>
                    <div class="form-group form-check-inline mr-1">
                      <input class="form-check-input" formControlName="Active" type="checkbox" id="inline-checkbox1" value="option1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-success"></span>
                    </div>
                  </td>
                  <td>
                    <div>Agapetus Tadeáš</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>
                  
                  <td>
                    <div class="clearfix">
                      <div class="float-left">
                        <strong>22%</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                      </div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-info" role="progressbar" style="width: 22%" aria-valuenow="22" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-google-wallet" style="font-size:24px"></i>
                  </td>
                  <td>
                    <div class="small text-muted">Last login</div>
                    <strong>Last week</strong>
                  </td>
                  <td>
                    <div class="form-group form-check-inline mr-1">
                      <input class="form-check-input" formControlName="Active" type="checkbox" id="inline-checkbox1" value="option1">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="text-center">
                    <div class="avatar">
                      <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                      <span class="avatar-status badge-danger"></span>
                    </div>
                  </td>
                  <td>
                    <div>Friderik Dávid</div>
                    <div class="small text-muted">
                      <span>New</span> | Registered: Jan 1, 2015
                    </div>
                  </td>
                  
                  <td>
                    <div class="clearfix">
                      <div class="float-left">
                        <strong>43%</strong>
                      </div>
                      <div class="float-right">
                        <small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small>
                      </div>
                    </div>
                    <div class="progress progress-xs">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 43%" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                  <td class="text-center">
                    <i class="fa fa-cc-amex" style="font-size:24px"></i>
                  </td>
                  <td>
                    <div class="small text-muted">Last login</div>
                    <strong>Yesterday</strong>
                  </td>
                  <td>
                    <div class="form-group form-check-inline mr-1">
                      <input class="form-check-input" formControlName="Active" type="checkbox" id="inline-checkbox1" value="option1">
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
