<div class="modal-content">
  <div class="modal-header text-center">
    <i class="fa fa-book"></i>&nbsp; <b>Register New Students</b>
    <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form [formGroup]="AddStudentForm" (ngSubmit)="onSubmit()">
    <div class="modal-body">
      <tabset>
        <tab>
          <ng-template tabHeading><i class="icon-user"></i> <b>Student personal Information</b></ng-template>
          <!--<form (ngSubmit)="onSubmit()">-->
          <!--<div class="modal-body">-->
          <div class="row">
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>First Name*</b></label>
              <input type="text" formControlName="StudentFirstName" placeholder="Enter student first name" class="form-control" required>

            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Last Name*</b></label>
              <input type="text" formControlName="StudentLastName" placeholder="Enter student Last name" #classTeacher class="form-control" required>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Middle Name</b></label>
              <input type="text" formControlName="StudentMiddleName" placeholder="Enter student middle name" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-3 col-sm-3 col-lg-4 col-md mb-4">
              <label for="vat"><b>Date of Birth*</b></label>
              <input type="text" #dob formControlName="DateOfBirth" (change)='CalculateAge(dob.value)' placeholder="Enter student date of birth" class="form-control" bsDatepicker required>

            </div>
            <div class="form-group col-2 col-sm-2 col-lg-1 col-md mb-4">
              <label for="vat"><b>Age*</b></label>
              <input type="number" class="form-control" readonly required>
            </div>

            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>Sex*</b></label>
              <select type="text" formControlName="Sex" #classTeacher class="form-control" required>
                <option value="">Select Sex</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>Religion*</b></label>
              <select type="text" formControlName="Religion" class="form-control" required>
                <option value="">Select Religion</option>
                <option value="Christian">Christian</option>
                <option value="Muslim">Muslim</option>
                <option value="None">None</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>Nationality*</b></label>
              <select type="number" formControlName="StudentNationalityId" #countrySelect
                  (change)='OnStudentCountryChange(countrySelect.value)' class="form-control" required>
                <option value="">Select Country</option>
                <option *ngFor="let country of Countries" [value]="country.id">{{ country.countryName}}</option>
              </select>

            </div>
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>State of Origin*</b></label>
              <select type="number" formControlName="StudentStateId" class="form-control" required>
                <option value="">Select State</option>
                <option *ngFor="let state of StudentCountryStates" [value]="state.id">{{ state.stateName}}</option>
              </select>
            </div>
            <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Local Govt</b></label>
              <input type="text" formControlName="StudentLocalGovt" placeholder="Enter student local govt" class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>Home Address*</b></label>
              <textarea type="text" formControlName="StudentHomeAddress" placeholder="Enter student home address" class="form-control" required></textarea>
            </div>
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>Place of Birth*</b></label>
              <textarea type="text" formControlName="PlaceOfBirth" placeholder="Enter student place of birth" #classTeacher class="form-control" required></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>School Attended Last Session</b></label>
              <textarea type="text" formControlName="SchoolAttendedLastSession" placeholder="Enter name of school student attended last session" class="form-control"></textarea>

            </div>
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>Grade Class Last Session (In previous school)&nbsp;<small>select our grade class equivalent</small></b></label>
              <select type="number" formControlName="PreviousGradeClassId" class="form-control">
                <option value="">Select Grade Class</option>
                <option *ngFor="let class of gradeClasses" [value]="class.id">{{ class.gradeName}}</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>Genotype*</b></label>
              <select type="text" formControlName="Genotype" class="form-control" required>
                <option value="">Select Genotype</option>
                <option value="A+">AA</option>
                <option value="B+">B</option>
                <option value="O+">O</option>
              </select>

            </div>
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>Blood Group*</b></label>
              <select type="text" formControlName="BloodGroup" #classTeacher class="form-control" required>
                <option value="">Select Blood Group</option>
                <option value="A+">A+</option>
                <option value="B+">B+</option>
                <option value="O+">O+</option>
                <option value="O-">O-</option>
              </select>
            </div>
            <div class="form-group col-6 col-sm-3 col-lg-6 col-md mb-4">
              <label for="vat"><b>Allergies</b></label>
              <textarea type="text" formControlName="Allergies" placeholder="Enter any allergies student may have" class="form-control" required></textarea>
            </div>
          </div>

          <div><i class="fa fa-book"></i>&nbsp; <b>Assign Student To a Grade Class and Section</b></div>
          <hr />
          <!--<div class="form-group">-->
          <div class="row">
            <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Select Starting Session*</b></label>
              <select type="number" formControlName="StartingSessionId" class="form-control" #subjectSelect required>
                <option>Select Session</option>
                <option *ngFor="let session of Sessions" [value]="session.id">{{ session.sessionName}}</option>
              </select>

            </div>
            <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Select Grade Class</b></label>
              <select type="number" class="form-control" #gradeSelect
                  (change)='OnGradeClassChange(gradeSelect.value)' formControlName="GradeClassId" required>
                <option>Select Grade Class</option>
                <option *ngFor="let class of gradeClasses" [value]="class.id">{{ class.gradeName}}</option>
              </select>

            </div>
            <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Select Class Section</b></label>
              <select type="number" class="form-control" formControlName="ClassSectionId" required>
                <option>Select Class section</option>
                <option *ngFor="let class of gradeSections" [value]="class.id">{{ class.className}}</option>
              </select>

            </div>
          </div>
          <div class="form-group form-check-inline mr-1">
            <label class="form-check-label" for="inline-checkbox1">Active?</label>&nbsp;&nbsp;
            <input class="form-check-input" formControlName="Active" type="checkbox" id="inline-checkbox1" value="option1">
          </div>
          <!--</div>-->

        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-people"></i> <b>Parent Informatiom</b></ng-template>

          <!--<div class="modal-body">-->
          <h4><b>Student Father's Information</b></h4>
          <hr />
          <div class="row">
            <div class="form-group col-3 col-sm-4 col-lg-3 col-md mb-4">
              <label for="vat"><b>Title*</b></label>
              <select type="number" formControlName="FatherSalutationId" class="form-control" required>
                <option value="">Select Title</option>
                <option *ngFor="let salutation of Salutations" [value]="salutation.id">{{ salutation.title}}</option>
              </select>


            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>First Name*</b></label>
              <input type="text" formControlName="FatherFirstName" placeholder="Enter father's first name" #classTeacher class="form-control" required>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Last Name</b></label>
              <input type="text" formControlName="FatherLastName" placeholder="Enter father's last name" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Occupation*</b></label>
              <textarea type="text" formControlName="FatherOccupation" placeholder="Enter father's occupation" #classTeacher class="form-control" required></textarea>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Office Address</b></label>
              <textarea type="text" formControlName="FatherOfficeAddress" placeholder="Enter father's office address" class="form-control" required></textarea>
            </div>
            <div class="form-group col-4 col-sm-4col-lg-4 col-md mb-4">
              <label for="vat"><b>Office Phone No.</b></label>
              <input type="text" formControlName="FatherOfficePhoneNo" placeholder="Enter office phone No." class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Personal Phone No.*</b></label>
              <input type="text" formControlName="FatherPhoneNo" placeholder="Enter personal phone No." #classTeacher class="form-control" required>
            </div>

            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Email Address</b></label>
              <input type="email" formControlName="FatherEmailAddress" placeholder="Enter email address" class="form-control" required>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Religion*</b></label>
              <select type="text" formControlName="FatherReligion" class="form-control" required>
                <option value="">Select Religion</option>
                <option value="Christian">Christian</option>
                <option value="Muslim">Muslim</option>
                <option value="None">None</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>Nationality*</b></label>
              <select type="number" formControlName="FatherNationalityId" #FathercountrySelect
                  (change)='OnFatherCountryChange(FathercountrySelect.value)' class="form-control" required>
                <option value="">Select Country</option>
                <option *ngFor="let country of Countries" [value]="country.id">{{ country.countryName}}</option>
              </select>

            </div>
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>State of Origin*</b></label>
              <select type="number" formControlName="FatherStateId" class="form-control" required>
                <option value="">Select State</option>
                <option *ngFor="let state of FatherCountryStates" [value]="state.id">{{ state.stateName}}</option>
              </select>
            </div>
            <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Local Govt</b></label>
              <input type="text" formControlName="FatherLocalGovt" placeholder="Enter father's local govt" class="form-control">
            </div>
          </div>

          <h4><b>Student Mother's Information</b></h4>
          <hr />
          <div class="row">
            <div class="form-group col-3 col-sm-4 col-lg-3 col-md mb-4">
              <label for="vat"><b>Title*</b></label>
              <select type="number" formControlName="MotherSalutationId" class="form-control" required>
                <option value="">Select Title</option>
                <option *ngFor="let salutation of Salutations" [value]="salutation.id">{{ salutation.title}}</option>
              </select>


            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>First Name*</b></label>
              <input type="text" formControlName="MotherFirstName" placeholder="Enter mother's first name" #classTeacher class="form-control" required>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Last Name</b></label>
              <input type="text" formControlName="MotherLastName" placeholder="Enter mother's last name" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Occupation*</b></label>
              <textarea type="text" formControlName="MotherOccupation" placeholder="Enter mother's occupation" #classTeacher class="form-control" required></textarea>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Office Address</b></label>
              <textarea type="text" formControlName="MotherOfficeAddress" placeholder="Enter mother's office address" class="form-control" required></textarea>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Office Phone No.</b></label>
              <input type="text" formControlName="MotherOfficePhoneNo" placeholder="Enter office phone No." class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Personal Phone No.*</b></label>
              <input type="text" formControlName="MotherPhoneNo" placeholder="Enter personal phone No." #classTeacher class="form-control" required>
            </div>

            <div class="form-group col-4 col-sm-4col-lg-4 col-md mb-4">
              <label for="vat"><b>Email Address</b></label>
              <input type="email" formControlName="MotherEmailAddress" placeholder="Enter email address" class="form-control" required>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Religion*</b></label>
              <select type="text" formControlName="MotherReligion" class="form-control" required>
                <option value="">Select Religion</option>
                <option value="Christian">Christian</option>
                <option value="Muslim">Muslim</option>
                <option value="None">None</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>Nationality*</b></label>
              <select type="number" formControlName="MotherNationalityId" #MothercountrySelect
                  (change)='OnMotherCountryChange(MothercountrySelect.value)' class="form-control" required>
                <option value="">Select Country</option>
                <option *ngFor="let country of Countries" [value]="country.id">{{ country.countryName}}</option>
              </select>

            </div>
            <div class="form-group col-3 col-sm-3 col-lg-3 col-md mb-4">
              <label for="vat"><b>State of Origin*</b></label>
              <select type="number" formControlName="MotherStateId" class="form-control" required>
                <option value="">Select State</option>
                <option *ngFor="let state of MotherCountryStates" [value]="state.id">{{ state.stateName}}</option>
              </select>
            </div>
            <div class="form-group col-6 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Local Govt</b></label>
              <input type="text" formControlName="MotherLocalGovt" placeholder="Enter mother's local govt" class="form-control">
            </div>
          </div>
          <h4><b>General Information</b></h4>
          <hr />
          <div class="form-group form-check-inline mr-1">
            <label class="form-check-label" for="inline-checkbox1"><b>Parents living Together?</b></label><br />&nbsp;&nbsp;
            <input formControlName="ParentTogether" class="form-check-input" type="checkbox" id="inline-checkbox1" value="option1">
          </div>

          <h5><b>Use this section only if the answer above is No</b></h5>
          <br />
          <div class="row">
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>Mother's Home Address*</b></label>
              <textarea formControlName="MotherAddress" type="text" placeholder="Enter mother's home address" #classTeacher class="form-control" required></textarea>
            </div>
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>Father's Home Address</b></label>
              <textarea type="text" formControlName="FatherAddress" placeholder="Enter father's home address" class="form-control" required></textarea>
            </div>
          </div>
          <!--</div>-->
          <!--<div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
    <button type="reset" class="btn btn-sm btn-danger" (click)="CloseModal()"><i class="fa fa-ban"></i> Close</button>
  </div>-->

        </tab>
        <tab>
          <ng-template tabHeading><i class="icon-pie-chart"></i> <b>Guardian Informatiom</b></ng-template>

          <h5><b>Note: This is only for cases where student isn't staying with parent</b></h5>
          <hr/>

          <!--<div class="modal-body">-->
          <div class="row">
            <div class="form-group col-3 col-sm-4 col-lg-3 col-md mb-4">
              <label for="vat"><b>Title</b></label>
              <select type="number" formControlName="GuardianSalutationId" class="form-control">
                <option value="">Select Title</option>
                <option *ngFor="let salutation of Salutations" [value]="salutation.id">{{ salutation.title}}</option>
              </select>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>First Name</b></label>
              <input type="text" formControlName="GuardianFirstName" placeholder="Enter guardian's first name" #classTeacher class="form-control" >
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Last Name</b></label>
              <input type="text" formControlName="GuardianLastName" placeholder="Enter guardian's last name" class="form-control" >
            </div>
          </div>
          <div class="row">
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>Occupation</b></label>
              <textarea type="text" formControlName="GuardianOccupation" placeholder="Enter guardian's occupation" #classTeacher class="form-control" ></textarea>
            </div>
            <div class="form-group col-6 col-sm-6 col-lg-6 col-md mb-4">
              <label for="vat"><b>Office Address</b></label>
              <textarea type="text" formControlName="GuardianOfficeAddress" placeholder="Enter guardian's office address" class="form-control" ></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-4 col-sm-4col-lg-4 col-md mb-4">
              <label for="vat"><b>Home Address</b></label>
              <textarea type="text" formControlName="GuardianHomeAddress" placeholder="Enter guardian's home address" class="form-control" ></textarea>
            </div>
            <div class="form-group col-4 col-sm-4 col-lg-4 col-md mb-4">
              <label for="vat"><b>Personal Phone No.</b></label>
              <input type="text" formControlName="GuardianPhoneNo" placeholder="Enter personal phone No." class="form-control" >
            </div>
            <div class="form-group col-4 col-sm-4col-lg-4 col-md mb-4">
              <label for="vat"><b>Email Address</b></label>
              <input type="email" formControlName="GuardianEmailAddress" placeholder="Enter email address" class="form-control">
            </div>
          </div>
        </tab>
      </tabset>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!AddStudentForm.valid" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="CloseModal()"><i class="fa fa-ban"></i> Close</button>
    </div>
  </form>
</div>






