<div class="modal-content">
  <div class="modal-header align-content-center text-center justify-content-center text-justify">
    <i class="fa fa-book"></i>&nbsp; <b>{{className }}'s {{subjectName}} Assessments Records</b>
    <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    
    <div class="">
      <table datatable class="table table-striped row-border hover">
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Term/Session</th>
            <th>CA Score</th>
            <th>Exams Score</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let item of ClassAssessment | paginate:{ id: 'pagination5', itemsPerPage: 25, currentPage:p5}; let i = index">
            <td>{{ item.studentName }}</td>
            <td>{{ item.sessionTerm}}</td>
            <td><input class="input-group-sm" [(ngModel)]="item.caScore" placeholder="Enter CA score" /></td>
            <td><input class="input-group-sm" [(ngModel)]="item.examsScore" placeholder="Enter Exams score" /></td>
            <td><button class="btn btn-sm btn-danger" (click)="saveRecord(item)" type="button">Record</button></td>
          </tr>

        </tbody>
      </table>
      <div id="pagination pull-right">
        <pagination-controls id="pagination5" (pageChange)="p5=$event"></pagination-controls>
      </div>
      <div class="btn-group col-12 col-sm col-lg-2 col-md pull-right">
        <button type="button" class="btn btn-sm btn-primary" (click)="SubmitAssessment(ClassAssessment)"><b>Submit</b></button>
      </div>
    </div>
  </div>
</div>
