<div class="animated fadeIn">
<div class="row">
  <div class="col-md-10 col-lg-10">
    <div class="card">
      <div class="card-header">
        <b>List of subjects and classes assigned to you</b>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center">Subject Name</th>
                <th class="text-center">Class Name</th>
                <th class="text-center">No. Of Student</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of TeacherSubjects | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}; let i = index">
                <td class="text-center">
                  <div>{{item.subjectName}}</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center">{{item.className}}</td>
                <td class="text-center">
                  <div class="clearfix">
                    <strong>{{item.numOfStudent}}</strong>
                  </div>
                </td>
                <td class="text-center">
                  <button class="btn btn-sm btn-primary" type="button">View</button>
                </td>

              </tr>
            </tbody>
          </table>
          <div id="pagination pull-right">
            <pagination-controls id="pagination1" (pageChange)="p1=$event"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
