<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12 col-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm">
                  <div class="col-lg-12 col-12 col-sm">
                    <h4>Class Subjects Assessments</h4><b>Select class to view Assessments sent by subject teachers</b>
                  </div>
                  <hr />
                  <div class="btn-group col-12 col-sm col-lg-4 col-md" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      Select Class <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu col-12 col-sm col-lg-12 col-md" role="menu">
                      <li value="" role="menuitem"><a class="dropdown-item">Select Class</a></li>
                      <li *ngFor="let class of ClassSections" (click)="GetClassSubjects(class)" role="menuitem"><a class="dropdown-item">{{class.className}}</a></li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!--<div class="col-lg-12">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <b>Students Assessments</b>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center">Subject</th>
                        <th class="text-center">Class</th>
                        <th class="text-center">Term/Session</th>
                        <th class="text-center">No. of Students</th>
                        <th class="text-center">Approved</th>
                        <th class="">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of ClassSubjects | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}; let i = index">

                        <td class="text-center">
                          <div>{{item.subjectName}}</div>
                          <div class="small text-muted">
                            <span>New</span> | Registered: Jan 1, 2015
                          </div>
                        </td>
                        <td class="text-center">{{item.className}}</td>
                        <td class="text-center">{{item.sessionTerm}}</td>
                        <td class="text-center">{{item.numOfStudent}}</td>
                        <td class="text-center">false</td>
                        <td>
                          <button class="btn btn-sm btn-primary" (click)="addAssessmentModal(item)" type="button">Assessments</button>
                        </td>
                      </tr>
                      <!--<tr>
                        <td class="text-center">
                          <div>English Language</div>
                        </td>
                        <td class="text-center">Grade One (Gold)</td>
                        <td class="text-center">First Term (2019/2020)</</td>
                        <td class="text-center">20</td>
                        <td class="text-center">false</td>
                        <!--<td class="text-center">{{item.date | date}}</td>-->
                      <!--<td>
                        <button class="btn btn btn-primary" type="button"><b>Assessments</b></button>-->
                      <!--<button class="btn btn-sm btn-danger" type="button">Del</button>-->
                      <!--</td>
                      </tr>-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--<div class="col-lg-12">-->
          </div>
        </div>
        <br />

      </div>
    </div>
  </div>
</div>
