<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12 col-12 col-sm">
                  <h4>Filter Student List</h4><b>Select class, grade class or enter student Name to filter student list</b>
                  <hr />
                </div>
                  
                <br/>
                <div class="btn-group col-12 col-sm-12 col-sm col-lg col-md mb-3" dropdown>
                  <button dropdownToggle type="button" class="btn btn-sm btn-primary dropdown-toggle">
                    Select Class <span class="caret"></span>
                  </button>
                  <ul *dropdownMenu class="dropdown-menu col-12 col-sm col-lg-12 col-md" role="menu">
                    <li value="" role="menuitem"><a class="dropdown-item">Select Class</a></li>
                    <li *ngFor="let class of ClassSections" (click)="GetStudents(class)" role="menuitem"><a class="dropdown-item">{{class.className}}</a></li>

                  </ul>
                </div>
                  <div class="form-group col-12 col-sm-12 col-sm col-lg col-md">
                    <input type="text" placeholder="Enter Student Name" class="form-control">

                  </div>
                  <!--<div class="btn-group col-4 col-sm-12 col-sm col-lg  col-md mb-3" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      Select Class <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu col-12 col-sm col-lg-12 col-md" role="menu">
                      <li value="" role="menuitem"><a class="dropdown-item">Select Class</a></li>
                      <li *ngFor="let grade of GradeClasses" (click)="GetTeacherSubjects(grade)" role="menuitem"><a class="dropdown-item">{{grade.className}}</a></li>

                    </ul>
                  </div>-->
               
              </div>
              </div>
            <!--<div class="col-lg-12">-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="row">
          <div class="col-md-12">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <table class="table table-responsive-sm table-hover table-outline mb-0">
                    <thead class="thead-light">
                      <tr>
                        <th class="text-center"><i class="icon-people"></i></th>
                        <th>Student Name</th>
                        <th class="text-center">Class</th>
                        <th>Sex</th>
                        <th class="text-center">Age</th>
                        <th class="text-center">Term/Session</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of Students | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}; let i = index">
                        <td class="text-center">
                          <div class="avatar">
                            <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                            <span class="avatar-status badge-success"></span>
                          </div>
                        </td>
                        <td>{{item.studentName}}</td>
                        <td class="text-center">{{item.className}}</td>
                        <td>{{item.sex}}</td>
                        <td class="text-center">{{item.age}}</td>
                        <td>{{item.termSession}}</td>
                        <td class="text-center">
                          <button class="btn btn-sm btn-primary" type="button">View</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div id="pagination pull-right">
                    <pagination-controls id="pagination1" (pageChange)="p1=$event"></pagination-controls>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
