<div class="col-sm-12 col-lg-12">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-9 col-sm-4 col-md mb-3 mb-xl-0">
          <i class="fa fa-align-justify"></i><b> Student List </b>&nbsp;<small>a comprehensive list of all registered students</small>
        </div>
        <div class="col-3 col-sm-4 col-lg-3 col-md mb-3 mb-xl-0">
          <button aria-pressed="true" class="btn btn-sm btn btn-block btn-primary" (click)="addStudentModal()" type="button"><b>Register New Student</b></button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table class="table table-responsive-sm table-hover  mb-0">
        <thead class="">
          <tr>
            <th class="text-center"><i class="icon-people"></i></th>
            <th class="text-center">Student Name</th>
            <th class="text-center">Sex</th>
            <th class="text-center">Age</th>
            <th class="text-center">Class</th>
            <th class="text-center">Class Teacher</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of StudentList | paginate:{id: 'pagination1', itemsPerPage: 5, currentPage:p1}; let i = index">
            <td class="text-center">
              <div class="avatar">
                <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                <span class="avatar-status badge-success"></span>
              </div>
            </td>
            <td>
              <div>{{item.studentName}}</div>
              <div class="small text-muted">
                <span>New</span> | {{item.registrationDate | date}}
              </div>
            </td>
            <td class="text-center">{{item.sex}}</td>
            <td>
              <div class="clearfix">
                <div class="float-left">
                  <strong>{{item.age}}</strong>
                </div>
              </div>
            </td>
            <td class="text-center">{{item.className}}</td>
            <td>{{item.classTeacherName}}</td>
            <td><button class="btn btn-sm btn-primary" (click)="saveRecord(item)" type="button">View</button></td>
          </tr>
        </tbody>
      </table>
      <div id="pagination pull-right">
        <pagination-controls id="pagination1" (pageChange)="p1=$event"></pagination-controls>
      </div>
    </div>
  </div>
</div>
