<div class="modal-content">
  <div class="modal-header align-content-center text-center">
    <i class="fa fa-user-circle"></i>&nbsp; <b>Add New User</b>
    <button type="button" class="close pull-right" aria-label="Close" (click)="CloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <form [formGroup]="AddUserForm" (ngSubmit)="onSubmit()">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input type="text" class="form-control" formControlName="FirstName" placeholder="Enter Firstname" autocomplete="FirstName" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user"></i></span>
        </div>
        <input type="text" class="form-control" formControlName="LastName" placeholder="Enter Lastname" autocomplete="LastName" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-phone"></i></span>
        </div>
        <input type="text" class="form-control" formControlName="PhoneNumber" placeholder="Enter Phone No." autocomplete="PhoneNo" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">@</span>
        </div>
        <input type="text" class="form-control" formControlName="Email" placeholder="Email" autocomplete="email" required>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-user-female"></i></span>
        </div>
        <select type="text" class="form-control" formControlName="sex" placeholder="" required>
          <option value="">Select Sex</option>
          <option value="Female">Female</option>
          <option value="Male">Male</option>
        </select>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"><i class="icon-people"></i></span>
        </div>
        <select type="text" class="form-control" formControlName="MaritalStatus" placeholder="Marital Status" required>
          <option value="">Select Marital Status</option>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Divorced">Divorced</option>
          <option value="Widow">Widow</option>
          <option value="Widower">Widower</option>
        </select>
      </div>
      <div>
        <i class="fa fa-book"></i>&nbsp; <b>Select User Role</b>
        <br /><b>Note: Only one option must be selected</b>
      </div>
      <hr />
      <div class="row">
        <div class="col-lg-12">
          <div class="form-group form-check-inline mr-1">
            <label class="form-check-label" for="inline-checkbox1">Teacher</label>&nbsp;&nbsp;
            <input class="form-check-input" formControlName="IsTeacher" type="checkbox" id="inline-checkbox1" value="option1">
          </div>
          <div class="form-group form-check-inline mr-1">
            <label class="form-check-label" for="inline-checkbox1">Admin</label>&nbsp;&nbsp;
            <input class="form-check-input" formControlName="IsAdmin" type="checkbox" id="inline-checkbox1" value="option1">
          </div>
          <div class="form-group form-check-inline mr-1">
            <label class="form-check-label" for="inline-checkbox1">Non-Acad</label>&nbsp;&nbsp;
            <input class="form-check-input" formControlName="IsNonAcademicStaff" type="checkbox" id="inline-checkbox1" value="option1">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-block btn-success">Create User</button>
    </form>
  </div>
</div>
